services:
  # Frontend: React Admin (Nginx)
  frontend:
    build: .
    container_name: herama_frontend
    restart: always
    ports:
      - "5174:80" # Akses lewat port 5174 karena 8080 sudah terpakai
    networks:
      - herama_network

networks:
  herama_network:
    driver: bridge
